# --- Snowflake Connection ---
SNOWFLAKE_CONNECTION_NAME=<YOUR-CONNECTION-NAME>
SNOWFLAKE_DATABASE=CONTAINER_HOL_DB
SNOWFLAKE_SCHEMA=PUBLIC
SNOWFLAKE_WAREHOUSE=CONTAINER_HOL_WH

# --- Snowflake Roles ---
SNOWFLAKE_ROLE_ADMIN=ACCOUNTADMIN
SNOWFLAKE_ROLE_USER=CONTAINER_USER_ROLE

# --- Snowflake Objects ---
COMPUTE_POOL_NAME=CONTAINER_HOL_POOL
COMPUTE_POOL_INSTANCE_FAMILY=CPU_X64_XS
IMAGE_REPO_NAME=IMAGE_REPO
STAGE_SPECS=specs
STAGE_VOLUMES=volumes
NETWORK_RULE_NAME=ALLOW_ALL_RULE
EAI_NAME=ALLOW_ALL_EAI

# --- Docker / Image Registry ---
SNOWFLAKE_ACCOUNT_REGISTRY=<YOUR-ACCOUNT-NAME>.registry.snowflakecomputing.com
LOCAL_REPO_PREFIX=<YOUR-LOCAL-PREFIX>
IMAGE_TAG=dev

# --- Jupyter Snowpark Service ---
JUPYTER_SERVICE_NAME=JUPYTER_SNOWPARK_SERVICE
JUPYTER_IMAGE_NAME=python-jupyter-snowpark
JUPYTER_SPEC_FILE=jupyter-snowpark.yaml
JUPYTER_PORT=8888

# --- Convert API Service ---
CONVERT_SERVICE_NAME=convert_api
CONVERT_IMAGE_NAME=convert-api
CONVERT_SPEC_FILE=convert-api.yaml
CONVERT_PORT=9090
